#  Databases & Web services

### Import of the modules

In [1]:
import requests
import json
import psycopg2

### Server data connection

In [2]:
database_host = '127.0.0.1'
database_password = 'postgres'
database_user = 'postgres'
database_name = 'python_api'

### Connection to the server

In [3]:
connection = psycopg2.connect(
    host = database_host,
    user = database_user,
    password = database_password,
    database = database_name

)

cursor = connection.cursor()

### Get the 'todos' json

In [ ]:
response = requests.get("https://jsonplaceholder.typicode.com/todos/")
todos = response.json()

### Insert the json data in the table

In [ ]:
query = """
INSERT INTO todos (userId, id, title, completed)
VALUES (%s, %s, %s, %s);
"""

for todo in todos:
    data = []
    for k in todo:
        data.append(todo[k])


    cursor.execute(query, (data[0],data[1],data[2],data[3]))
connection.commit()

### Result of the insertion of todos in the todos table
python_api=# SELECT * FROM todos;

|userid  | id  |                                   title                                   | completed |
|--------|-----|---------------------------------------------------------------------------|-----------|
|      1 |   1 | delectus aut autem                                                        | f|
|      1 |   2 | quis ut nam facilis et officia qui                                        | f|
|      1 |   3 | fugiat veniam minus                                                       | f|
|      1 |   4 | et porro tempora                                                          | t|
|      1 |   5 | laboriosam mollitia et enim quasi adipisci quia provident illum           | f|
|      1 |   6 | qui ullam ratione quibusdam voluptatem quia omnis                         | f|
|      1 |   7 | illo expedita consequatur quia in                                         | f|
|      1 |   8 | quo adipisci enim quam ut ab                                              | t|
|      1 |   9 | molestiae perspiciatis ipsa                                               | f|
|      1 |  10 | illo est ratione doloremque quia maiores aut                              | t|
|      1 |  11 | vero rerum temporibus dolor                                               | t|
|      1 |  12 | ipsa repellendus fugit nisi                                               | t|
|      1 |  13 | et doloremque nulla                                                       | f|
|      1 |  14 | repellendus sunt dolores architecto voluptatum                            | t|
|      1 |  15 | ab voluptatum amet voluptas                                               | t|
|      1 |  16 | accusamus eos facilis sint et aut voluptatem                              | t|
|      1 |  17 | quo laboriosam deleniti aut qui                                           | t|
|      1 |  18 | dolorum est consequatur ea mollitia in culpa                              | f|
|      1 |  19 | molestiae ipsa aut voluptatibus pariatur dolor nihil                      | t|
|      1 |  20 | ullam nobis libero sapiente ad optio sint                                 | t|
|      2 |  21 | suscipit repellat esse quibusdam voluptatem incidunt                      | f|
|      2 |  22 | distinctio vitae autem nihil ut molestias quo                             | t|
|      2 |  23 | et itaque necessitatibus maxime molestiae qui quas velit                  | f|
|      2 |  24 | adipisci non ad dicta qui amet quaerat doloribus ea                       | f|
|      2 |  25 | voluptas quo tenetur perspiciatis explicabo natus                         | t|
|      2 |  26 | aliquam aut quasi                                                         | t|
|      2 |  27 | veritatis pariatur delectus                                               | t|

# script to get the other tables

In [4]:
def get_json(from_):
    response = requests.get(f"https://jsonplaceholder.typicode.com/{from_}/")
    return response.json()

### the function to_string get and concatene the data where the values of the dicctionary are others dictionaries

In [5]:
def to_string(datos):
    data_list = []
    for d in datos:
        if d == 'geo':
            d = to_string(datos[d])
            data_list.append(d)
        else:
            data_list.append(datos[d])
    
    return ', '.join(data_list)

### iterate the json as a dictionary to get a list of the data by each json object

In [6]:
def fetch_data(json, query):
    print
    for j_data in json:
        data = []
        for k in j_data:
            if k == 'address' or k == 'company':
                d = to_string(j_data[k])
            else:
                d = j_data[k]
            data.append(d)
        
        
        cursor.execute(query, tuple(data))
    connection.commit()

### in this script we define the querys to use for each json object to insert in the respective table

In [7]:
%%time
query_users = """
INSERT INTO users
VALUES (%s, %s, %s, %s, %s, %s, %s, %s);
"""
query_photos = """
INSERT INTO photos
VALUES (%s, %s, %s, %s, %s);
"""

query_albums = """
INSERT INTO albums
VALUES (%s, %s, %s);
"""

query_posts = """
INSERT INTO posts
VALUES (%s, %s, %s, %s);
"""

query_comments = """
INSERT INTO comments
VALUES (%s, %s, %s, %s, %s);
"""

resources = {'photos': query_photos, 'albums': query_albums, 'comments': query_comments, 'posts': query_posts, 'users': query_users}

for r in resources:
    print(r)
    json = get_json(r)
    fetch_data(json, resources[r])

photos
albums
comments
posts
users
CPU times: user 174 ms, sys: 79.8 ms, total: 254 ms
Wall time: 2.06 s

In [9]:
connection.close()